*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}



body > header {
    background-color: rgb(30, 210, 75);
    padding: 16px 0;
    color: crimson;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display:inline;
    margin: left 16px; ;
}

header li a {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 100px;
    gfds
    gfds
    gfds
    */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: antiquewhite;
    padding: 8px;
    display: inline-block;
    font-weight: 900;
    margin-top: 8px;
}

.articles article p 
.articles article a{

    font-family: Arial, Helvetica, sans-serif
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports {
    background-color: chartreuse;
}

#sports .articles article a {
    background-color: green;
}

#economy {
    background-color: aqua;
}

#economy .articles article a{
    background-color: aquamarine;
}

#entertainment {
    background-color: royalblue;
    font-size: larger;
}

#entertainment .articles article a{
    background-color: rgb(255, 127, 127);
}

#technology {
    background-color: yellow;
    font-size: larger;
}



